### 菜品挑选  ---数据选择

#### 列选择

选择某一列/某几列:
在python中我们想要获取某列只需要在表df后面的方括号中指明要选择的列名即可。
如果是一列，只需要传入一个列名，如果是同时选择多列，则传入多个列名即可，多个列名用一个list存起来。

在python中我们把这种通过传入列名选择数据的方式称为普通索引。
除了上面的普通索引，也可以传入具体列的位置，即第几列，对数据进行选取，通过传入位置来获取数据时需要用到iloc方法。

In [3]:
import pandas as pd
df2=pd.read_table(r".\file\test.txt",sep=" ",encoding="utf-8")
df2["订单编号"]

0    A1
1    A2
2    A3
3    A2
Name: 订单编号, dtype: object

In [5]:
df2[["订单编号","客户姓名"]]

  订单编号 客户姓名
0   A1   张三
1   A2   李四
2   A3   王五
3   A2   李四

In [6]:
df2.iloc[:,[0,2]]# 获取第一列和第3列的数值。

# iloc后的方括号中逗号之前的部分表示要获取的行的位置，只输入一个冒号，不输入任何数值表示所获取所有的行；
#  逗号之后的方括号表示要获取列的位置，列的位置同样是从0开始计数。

  订单编号  唯一识别码
0   A1    101
1   A2    102
2   A3    105
3   A2    102

选择连续的某几列：
也是使用的是iloc方法

In [8]:
df2.iloc[:,0:2]

  订单编号 客户姓名
0   A1   张三
1   A2   李四
2   A3   王五
3   A2   李四

#### 行选择

选择某一行/某几行：
在python中主要有2种方法：一种是普通索引，就是传入具体行索引的名称，需要 loc方法。另外一种就是位置索引，即传入具体的函数，需要用到iloc方法

In [10]:
df2.loc[1]

订单编号             A2
客户姓名             李四
唯一识别码           102
成交时间     2019-02-03
Name: 1, dtype: object

In [14]:
df2.loc[[1,2]]

  订单编号 客户姓名  唯一识别码        成交时间
1   A2   李四    102  2019-02-03
2   A3   王五    105  2019-03-01

In [15]:
df2.iloc[0]

订单编号             A1
客户姓名             张三
唯一识别码           101
成交时间     2019-01-02
Name: 0, dtype: object

In [16]:
df2.iloc[[0,1]]

  订单编号 客户姓名  唯一识别码        成交时间
0   A1   张三    101  2019-01-02
1   A2   李四    102  2019-02-03

In [18]:
# 选择连续的某几行
df2.iloc[0:3]  # 选择的是第一行到第三行

  订单编号 客户姓名  唯一识别码        成交时间
0   A1   张三    101  2019-01-02
1   A2   李四    102  2019-02-03
2   A3   王五    105  2019-03-01

选择满足条件的行：
在python中，直接在表名后面指明那列要满足什么条件，就可以把满足条件的数据删选出来。
eg:df[df["年龄"]<80]   选择年龄小于80的数据。
通过传入一个判断条件来选择数据的方式称为布尔索引。

df[(df["年龄"]<80)&(df["唯一标识符"]<102)]

#### 行列同时选择

普通索引+普通索引 选择指定的行和列：
其就是通过同时传入行和列的索引名称进行数据选择，需要用到loc方法
loc方法中的第一对方括号表示行索引的选择，传入行索引名称；loc方法中的第二对方括号表示列索引的选择，传入列索引的名称

In [19]:
df2.loc[[1,2],["订单编号","唯一识别码"]]

  订单编号  唯一识别码
1   A2    102
2   A3    105

位置索引+位置索引 选择指定的列和行：
通过同时传入行、列索引的位置来获取数据，需要用到iloc方法
iloc方法中的第一对方括号表示行索引的选择，传入要选择行索引的位置。第二个方括号表示列索引的选择，传入要选择列索引的位置。
行和列索引的位置都是从0开始计数。

In [21]:
df2.iloc[[0,1],[0,2]]

  订单编号  唯一识别码
0   A1    101
1   A2    102

布尔索引+普通索引 选择指定的行和列：
     先对表进 行布尔索引选择，然后通过普通索引选择列。
df[df["年龄"]<200][["订单编号","年龄"]]

切片索引+切片索引 选择指定的行和列：
    通过同时传入 行、列索引的位置区间进行数据选择。

In [22]:
 df2.iloc[0:3,1:3]

  客户姓名  唯一识别码
0   张三    101
1   李四    102
2   王五    105

切片索引+普通索引 选择指定的行和列：
   行（列）用切片索引，列（行）用普通索引，这种交叉索引要用 ix方法

In [24]:
df2.ix[0:3,["客户姓名","唯一识别码"]]

F:\Learning_software\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
F:\Learning_software\Anaconda\lib\site-packages\pandas\core\indexing.py:822: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

  客户姓名  唯一识别码
0   张三    101
1   李四    102
2   王五    105
3   李四    102