### Pandas数据结构

In [1]:
# 常用到的3个模块
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Series数据结构

Series是一种类似于一维数组的对象，由一组数据及一组与之相关的数据标签（即索引）组成

In [2]:
# 创建一个Series
s1=pd.Series(['a','b','c','d'])  # Series会默认从0开始指定标签
s1

0    a
1    b
2    c
3    d
dtype: object

In [3]:
# 也可以指定索引
s2=pd.Series([1,2,3,4],index=["a",'d','c','f'])
s2

a    1
d    2
c    3
f    4
dtype: int64

In [4]:
# 传入字典
s3=pd.Series({'a':1,"b":3,"c":4})
s3

a    1
b    3
c    4
dtype: int64

In [5]:
# 利用index方法获取Series的索引
s1.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
s2.index

Index(['a', 'd', 'c', 'f'], dtype='object')

In [7]:
# 利用values方法获取Series的值
s1.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [8]:
s2.values

array([1, 2, 3, 4], dtype=int64)

#### DataFrame表格型数据结构

DataFrame是由一组数据与一对索引（行索引和列索引）组成的表格型数据结构

In [9]:
# 创建一个DataFrame  必须导入 import pandas as pd
df1=pd.DataFrame(['a','b','c'])
df1

   0
0  a
1  b
2  c

In [10]:
# 传入一个嵌套列表
df2=pd.DataFrame([['a',"A"],['b','B'],['c',"C"]])
df2

   0  1
0  a  A
1  b  B
2  c  C

In [11]:
# 列表嵌套也可以换成元组
df3=pd.DataFrame([('a',"A"),('b','B'),('c',"C")])
df3

   0  1
0  a  A
1  b  B
2  c  C

In [12]:
# 指定行，列索引
df4=pd.DataFrame([['a',"A"],['b','B'],['c',"C"]],columns=["小写","大写"])
df4

  小写 大写
0  a  A
1  b  B
2  c  C

In [13]:
df5=pd.DataFrame([['a',"A"],['b','B'],['c',"C"]],columns=["小写","大写"],index=["一","二","三"])
df5

  小写 大写
一  a  A
二  b  B
三  c  C

In [14]:
#传入一个字典
data={"小写":["a","b","c"],"大写":["A","B","C"]}
df6=pd.DataFrame(data)
df6

  小写 大写
0  a  A
1  b  B
2  c  C

In [15]:
#传入一个字典
data={"小写":["a","b","c"],"大写":["A","B","C"]}
df7=pd.DataFrame(data,index=["一","二","三"])
df7

  小写 大写
一  a  A
二  b  B
三  c  C

In [16]:
# 获取DataFrame 的行 列索引
df6.columns

Index(['小写', '大写'], dtype='object')

In [17]:
df6.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
df7.index

Index(['一', '二', '三'], dtype='object')