### 开始烹调----数据运算

#### 算术运算

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame([[1,2,3],[4,5,6]],index=['S1','S2'],columns=['c1','c2','c3'])
df

    c1  c2  c3
S1   1   2   3
S2   4   5   6

In [4]:
df["c1"]+df["c2"]

S1    3
S2    9
dtype: int64

In [5]:
df["c1"]-df["c2"]

S1   -1
S2   -1
dtype: int64

In [6]:
df["c1"]*df["c2"]

S1     2
S2    20
dtype: int64

In [7]:
df["c1"]/df["c2"]

S1    0.5
S2    0.8
dtype: float64

In [8]:
df["c1"]+2

S1    3
S2    6
Name: c1, dtype: int64

In [9]:
df["c1"]*2

S1    2
S2    8
Name: c1, dtype: int64

#### 比较运算

In [10]:
df["c1"]>df["c2"]

S1    False
S2    False
dtype: bool

In [11]:
df["c1"]!= df["c2"]

S1    True
S2    True
dtype: bool

In [12]:
df["c1"]<df["c2"]

S1    True
S2    True
dtype: bool

#### 汇总运算

##### count非空计数

非空计数就是计算某一个区域中非空（单元格）数值的个数； 
count()函数，返回的结果为该数据中每列的非空值的个数

In [13]:
df.count()

c1    2
c2    2
c3    2
dtype: int64

In [14]:
# 修改axis参数让其等于1，来求取每一行的非空数值的个数
df.count(axis=1)

S1    3
S2    3
dtype: int64

In [16]:
df["c1"].count() # 单独看这一列或者这一行的非空值的个数

2

##### sum求和

In [17]:
df.sum()

c1    5
c2    7
c3    9
dtype: int64

In [18]:
df.sum(axis=1)

S1     6
S2    15
dtype: int64

In [19]:
df["c1"].sum()

5

##### mean求平均值

In [20]:
df.mean()

c1    2.5
c2    3.5
c3    4.5
dtype: float64

In [21]:
df.mean(axis=1)

S1    2.0
S2    5.0
dtype: float64

In [22]:
df["c1"].mean()

2.5

##### max求最大值

In [24]:
df.max()

c1    4
c2    5
c3    6
dtype: int64

In [26]:
df.max(axis=1)  # 求每一行的最大值

S1    3
S2    6
dtype: int64

In [27]:
df["c1"].max()

4

##### min求最小值

In [28]:
df.min()

c1    1
c2    2
c3    3
dtype: int64

In [29]:
df.min(axis=1)

S1    1
S2    4
dtype: int64

##### median求中位数

中位数就是将一组含有n个数据的序列X按从小到大的排列，位于中间位置的那个数

In [31]:
df.median()

c1    2.5
c2    3.5
c3    4.5
dtype: float64

In [32]:
df.median(axis=1)

S1    2.0
S2    5.0
dtype: float64

In [33]:
df["c1"].median()

2.5

##### mode求众数

众数就是一组数据中出现最多的数。

In [35]:
df.mode()

   c1  c2  c3
0   1   2   3
1   4   5   6

In [36]:
df.mode(axis=1)

    0  1  2
S1  1  2  3
S2  4  5  6

##### var 求方差

方差用来衡量一组数据的离散程度（即数据波动幅度）的；

In [38]:
df.var()

c1    4.5
c2    4.5
c3    4.5
dtype: float64

In [39]:
df.var(axis=1)

S1    1.0
S2    1.0
dtype: float64

In [40]:
df['c1'].var()

4.5

##### std求标准差

标准差是方差的平方根，二者都是用来表示数据的离散程度的

In [42]:
df.std()

c1    2.12132
c2    2.12132
c3    2.12132
dtype: float64

In [43]:
df.std(axis=1)

S1    1.0
S2    1.0
dtype: float64

In [44]:
df['c1'].std()

2.1213203435596424

##### quantile 求分位数

分位数是比中位数更加详细的基于位置的指标，分位数主要有四分之一分位数，四分之二分位数，四分之三分位数，而四分之二分位数就是中位数

In [46]:
df.quantile(0.25)# 求四分之一分位数

c1    1.75
c2    2.75
c3    3.75
Name: 0.25, dtype: float64

In [47]:
df.quantile(0.5)

c1    2.5
c2    3.5
c3    4.5
Name: 0.5, dtype: float64

In [48]:
df.quantile(0.25,axis=1)

S1    1.5
S2    4.5
Name: 0.25, dtype: float64

#### 相关性运算

相关性常用来衡量两个事物之间的相关程度，即就是用来计算相关系数，比较常用的是皮尔逊相关系数
python 中使用 corr()函数

In [51]:
df=pd.DataFrame([[1,2],[3,4],[5,6],[7,8],[9,10]],columns=['col1','col2'])
df

   col1  col2
0     1     2
1     3     4
2     5     6
3     7     8
4     9    10

In [53]:
df['col1'].corr(df['col2']) # 求取col1 列与col2列的相关系数

0.9999999999999999

In [54]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]],columns=['col1','col2','col3'])
df

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9
3    10    11    12
4    13    14    15

In [55]:
df.corr() # 计算字段col1,col2,col3两两之间的相关性

      col1  col2  col3
col1   1.0   1.0   1.0
col2   1.0   1.0   1.0
col3   1.0   1.0   1.0